<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none;">
    <%= f.select :store_id, Store.for_select %>
  </div>


<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<div class="cont_container" id="cont1">
  <center>
<%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
<%= image_tag "gray-circle.png", :width => "30", :height => "30"%>
<%= image_tag "gray-circle.png", :width => "30", :height => "30"%>
<%= image_tag "gray-circle.png", :width => "30", :height => "30"%>
  </center>

    <center>

      <br />
      <%= image_tag "image_placeholder.png", :style => "margin-bottom: 20px;", :width => 200, :height => 200 %>

      <div class="fileUpload btn btn-primary btn-lg btn-block">
      <span>UPLOAD PHOTO</span>
      <input type="file" class="upload" />
    </center>
      </div>

  </div>
<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


  <div class="cont_container" id="cont2">
  <center>
<%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
<%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
<%= image_tag "gray-circle.png", :width => "30", :height => "30"%>
<%= image_tag "gray-circle.png", :width => "30", :height => "30"%>
  </center>

    <center>
      <%= f.select :category_id, Category.for_select, {}, {:class => "form-control col-sm-2", :id => "form2"} %>
      <h4>Name</h4>
      <%= f.text_field :name, :class =>"form-control input-sm", :placeholder=>"Name of product.." %>
      <h4>Description</h4>
      <%= f.text_field :name, :class =>"form-control input-sm", :placeholder=>"Write a description of your item here.." %>
    </center>
      </div>

  </div>

<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->


<div class="cont_container" id="cont3">
  <center>
<%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
<%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
<%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
<%= image_tag "gray-circle.png", :width => "30", :height => "30"%>
  </center>

    <center>
      <h4>Barcode</h4>
      <%= f.text_field :name, :class =>"form-control input-sm", :placeholder=>"Barcode" %>
      <h4>SKU</h4>
      <%= f.text_field :name, :class =>"form-control input-sm", :placeholder=>"SKU number" %>
    </center>
      </div>

  </div>

  <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
<div class="cont_container" id="cont4">
  <center>
<%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
<%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
<%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
<%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
  </center>

    <center>
      <h4>Price</h4>
      <%= f.text_field :name, :class =>"form-control input-sm", :placeholder=>"$" %>
      <h4>Quantity</h4>
      <%= f.text_field :name, :class =>"form-control input-sm", :placeholder=>"Quantity" %>
      <h4>Tags</h4>
      <%= f.text_field :name, :class =>"form-control input-sm", :placeholder=>"Tag, Anothertag.." %>
    </center>
      </div>

  </div>

  
<% end %>
