<!--HOMEPAGE DIVS-->
<%= form_for(@item) do |f| %>
  <center>
  
  <div class="field" style="display:none;">
    <%= f.select :store_id, Store.for_select %>
  </div>


  <div class="cont_container" id="cont1">
    
    <%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "gray-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "gray-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "gray-circle.png", :width => "30", :height => "30"%>

    <br />
      
    <%= image_tag "image_placeholder.png", :style => "margin-bottom: 20px;", :width => 200, :height => 200 %>
    
    <br />
      
    <%= f.file_field :image%>

  </div>


  <div class="cont_container" id="cont2">

    <%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "gray-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "gray-circle.png", :width => "30", :height => "30"%>

    <%= f.select :category_id, Category.for_select, {}, {:class => "form-control col-sm-2", :id => "form2"} %>

    <%= f.text_field :name, :class =>"form-control input-sm", :placeholder=>"Name of product." %>
    <%= f.text_area :description, :class =>"form-control input-sm txt-area", :id => "txt-area", :placeholder=>"Write a description of your item here." %>

  </div>


  <div class="cont_container" id="cont3">

    <%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "gray-circle.png", :width => "30", :height => "30"%>

    <div id="barcode_display"></div>
    <%= f.number_field :barcode, :class =>"form-control input-sm", :placeholder=>"Barcode" %><div class='generate' onclick="generateBarcode()">+</div>
    
    <%= f.text_field :sku, :class =>"form-control input-sm", :placeholder=>"SKU number" %><div class='generate' onclick="generateSKU()">+</div>

  </div>

  <div class="cont_container" id="cont4">

    <%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "blue-circle.png", :width => "30", :height => "30"%>
    <%= image_tag "blue-circle.png", :width => "30", :height => "30"%>

    <br />
    <%= f.number_field :price, :step => "any", :class =>"form-control input-sm num-input", :placeholder=>"Price - $" %><br />
    <%= f.number_field :qty, :step => "any", :class =>"form-control input-sm num-input", :placeholder=>"Quantity" %>

  </div>

</center>  
<% end %>
