<div class="top_header">
  <div class="header_arrow"><%= link_to image_tag("back.png"), homes_path %></div>
  <div class="header_text">Manage Products</div>
  <div class="header_img"><%= image_tag "pad.png"%></div>
  <div class="home-line-break"></div>
</div>

<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
          <div class="panel panel-default">
            <div class="panel-heading">
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= image_tag(item.image.url, :width => 100) %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>


<script type="text/javascript">
  setTimeout(function() {
    hideNav();
  },100);
</script>
