<!--ALL PRODUCTS-->

<!--ALL PRODUCTS HEADER-->
<div class="top_header">
  <div class="header_arrow"><%= link_to image_tag("back.png"), homes_path %></div>
  <div class="header_text">All Products</div>
  <div class="header_img"><%= image_tag "pad.png"%></div>
  <div class="home-line-break"></div>
</div>
<div >
  <%= text_field_tag 'search', nil, placeholder: 'SEARCH', :class=>"search-bar" %>
</div>
    <% @items.each do |item| %>
    
      <div class="sell_item">
        <strong><%= item.name %><br /></strong>
        <%= link_to image_tag(item.image.url, :width => 80), item_path(item) %><br />
        $<%= item.price %> - <%= item.qty %>
      </div>

    <% end %>


<script type="text/javascript">
  setTimeout(function() {
    hideNav();
  },100);
</script>
