<!--NEW PRODUCTS-->
<div class="top_header">
  <div class="header_arrow"><%= link_to image_tag("back.png"), homes_path %></div>
  <div class="header_text">New Products</div>
  <div class="header_img"><%= image_tag "sell.png"%></div>
  <div class="home-line-break"></div>
</div>


<%= render 'form' %>

<div class="bottom_footer">
	<div class="prev_button"><%= image_tag "prev-button.png", :width => 80, :height => 80 %></div>
	<div class="next_button"><%= image_tag "next-button.png", :width => 80, :height => 80  %></div>
	<div class="done-button"><%= image_tag "done-button.png", :width => 80, :height => 80  %></div>
</div>

<script type="text/javascript">
  setTimeout(function() {
    hideNav();
    $('.cont_container').hide();
    $('#cont1').show();
  	var slide = 1;
  	$('.prev_button').hide();
  	$('.done-button').hide();

    $('.prev_button').bind('click', function() {
    	$('.cont_container').hide();
    	slide--;
    	$('#cont'+slide).show();
    	if(slide <=1) $('.prev_button').hide();
    	$('.done-button').hide();
    	$('.next_button').show();
    });

    $('.next_button').bind('click', function() {
    	$('.cont_container').hide();
    	slide++;
    	$('#cont'+slide).show();
    	$('.prev_button').show();
    	if(slide>=4) {
    		$('.next_button').hide();
    		$('.done-button').show();
    	}
    });

    $('.done-button').bind('click', function() {
    	$('#new_item').submit();
    });
  },100);


  function generateSKU() {

  }

  function generateBarcode() {

  }

</script>
