<!DOCTYPE html>
<html>
<head>
  <title>Startup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--Logo-->
 <div class="top_logo"><%= image_tag "logo.png" %></div>

<!--New Product Panel-->   
    <div class="panel panel-default">

   	 <div class="panel-body">

   		 <div class="main_button"><%= link_to 'New Product', new_item_path %><%= image_tag "box.png", :class => "pull-right" %>

   		 </div>
   		 <div class="home-line-break"></div>
      </div>
	</div>

<!--Sell Product Panel-->   
<div class="panel panel-default">
	
  	 <div class="panel-body">
    	<div class="main_button"><%= link_to 'Sell Product', sales_path %><%= image_tag "" %>
    	</div>
    	<div class="home-line-break"></div>

	</div>
</div>

<!--Manage Product Panel-->   
 <div class="panel panel-default">
 
 	 <div class="panel-body">
   		 <div class="main_button"><%= link_to 'Manage Products', items_path %>
   		 </div>
	<div class="home-line-break"></div>
     </div>
</div>

<!--Settings Panel-->   
<div class="panel panel-default">

  	<div class="panel-body">
    	<div class="main_button"><%= link_to 'Settings', homes_path %>
    	</div>
    	<div class="home-line-break"></div>
    </div>
</div>




<div class="container theme-showcase" role="main">
<%= yield %>
</div>
</body>
</html>
