<!DOCTYPE html>
<html>
<head>
  <title>Startup</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--Logo-->
 <div class="top_logo"><%= image_tag "logo.png", :width => "320" %></div>

<!--New Product Panel-->   

   		 <div class="main_button">
        <%= image_tag "box.png", :class => "home-icon", :width => "80", :height => "80" %>

        <%= link_to 'New Product', new_item_path %>

        <div class="home-line-break"></div>
   		 </div>


<!--Sell Product Panel-->   
    	<div class="main_button">
        <%= image_tag "sell.png", :class => "home-icon", :width => "70", :height => "70" %>
        <%= link_to 'Sell Product', sales_path %>
    	<div class="home-line-break"></div>
      </div>

	</div>
</div>

<!--Manage Product Panel-->   

   		 <div class="main_button">
                <%= image_tag "pad.png", :class => "home-icon", :width => "80", :height => "80" %>
                <%= link_to 'Manage Products', items_path %>
   		   <div class="home-line-break"></div>
       </div>



<!--Settings Panel-->   

    	<div class="main_button">
                <%= image_tag "cog.png", :class => "home-icon", :width => "80", :height => "80" %>
        <%= link_to 'Settings', homes_path %>
    	<div class="home-line-break"></div>
      </div>
    	





<div class="container theme-showcase" role="main">
<%= yield %>
</div>
</body>
</html>
